// Colors
$main-color: #152935;
$main-contrast-color: #192e3d;
$second-color: #1d3649;
$green-color: #00b4a0;
$blue-color: #5aaafa;
$yellow-color: #fde876;
$white-color: #ffffff;
$gray-color: #2d3f4a;
$gray-light-color: #698f98;
$gray-dark-color: #1d3942;
$black-color: #1d3942;

// Border-radius
$border-radius-lg-btn: 24px;
$border-radius-sm-btn: 18px;
$border-radius-base: 12px;