.input-group {
    
    &--left-btn {
        .btn {
            border-top-left-radius: $border-radius-sm-btn;
            border-bottom-left-radius: $border-radius-sm-btn;
        }
    
        .form-control {
            border-top-right-radius: $border-radius-sm-btn;
            border-bottom-right-radius: $border-radius-sm-btn;            
        } 
    }

    &--right-btn {
        .btn {
            border-top-right-radius: $border-radius-sm-btn;
            border-bottom-right-radius: $border-radius-sm-btn;
        }
    
        .form-control {
            border-top-left-radius: $border-radius-sm-btn;
            border-bottom-left-radius: $border-radius-sm-btn;            
        } 
    }  
}