.modal {
    &--dark {
        .modal-content {
            background-color: $main-color;
            color: $white-color;

            .modal-header {
                border-color: $gray-color;

                .modal-title {
                    color: $blue-color;
                }

                .close {
                    color: $white-color;
                    text-shadow: none;
                    opacity: 1;

                    &:hover {
                        opacity: .75;
                    }
                }
            }

            .modal-footer {
                border-color: $gray-color;
            }            
        }
    }
}