.table {
    &--dark {
        border-color: $gray-color;
        color: $white-color;

        thead {
            th {
                border-color: $gray-color;
                color: $white-color;
            }
        }

        tbody {
            td {
                color: $white-color;
            }
        }
    }    
}

.table-responsive {
    &--bordered {
        border: 1px solid $gray-color;
        border-radius: $border-radius-base;
    }
}