@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/Home/Index.js"></script>
}

<section class="content-header section-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Главная</h1>
            </div>

            <div class="col-md-6">
                <a class="btn btn--green btn--rounded float-right" href="#" data-bs-toggle="modal" data-bs-target="#CreateProductModal">
                    <i class="fas fa-plus-square" style="margin-right: 6px;"></i>
                    Добавить продукт
                </a>
            </div>
        </div>
    </div>

</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card--dark">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                Товары
                            </div>

                            <div class="col-md-6">
                                <div class="advanced-search">
                                    <form id="ProductSearchForm">
                                        <div class="input-group input-group--left-btn flex-nowrap">
                                            <button type="button" class="btn btn--transparent-green">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <input type="text" class="form-control" placeholder="Введите характеристику товара" aria-label="Username" aria-describedby="addon-wrapping">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-responsive--bordered">
                            <table id="TableItems" class="table table--dark">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Код</th>
                                        <th>Номер поступления</th>
                                        <th>Имя</th>
                                        <th>Дата</th>
                                        <th>Кол-во</th>
                                        <th>Категория</th>
                                        <th>Комментарий</th>
                                        <th>Адрес хранения</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>7350</td>
                                        <td>1223480</td>
                                        <td>Молоко</td>
                                        <td>25.12.2021</td>
                                        <td>8</td>
                                        <td>Продукты</td>
                                        <td>Брак</td>
                                        <td>RK1-001-12-01</td>
                                        <td>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Скачать"><i class="fas fa-download"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Просмотр фото"><i class="fas fa-images"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>7350</td>
                                        <td>1223480</td>
                                        <td>Молоко</td>
                                        <td>25.12.2021</td>
                                        <td>8</td>
                                        <td>Продукты</td>
                                        <td>Брак</td>
                                        <td>RK1-001-12-01</td>
                                        <td>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Скачать"><i class="fas fa-download"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Просмотр фото"><i class="fas fa-images"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-sm btn--circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal modal--dark fade" id="CreateProductModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление продукта</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>

            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="ProductCode" class="col-sm-5 col-form-label">Код продукта</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="ProductCode" id="ProductCode">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="ArrivalNumber" class="col-sm-5 col-form-label">Номер поступления</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="ArrivalNubmer" id="ArrivalNubmer">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="ProductName" class="col-sm-5 col-form-label">Наименование</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="ProductName" id="ProductName">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="ArrivalNumber" class="col-sm-5 col-form-label">Дата поступления</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group--right-btn">
                            <input id="CreateModalDatepicker" type="text" class="form-control datepicker-here" data-position="right top" aria-label="Дата поступления" aria-describedby="button-addon2">
                            <button type="button" class="btn btn--transparent-green">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Quantity" class="col-sm-5 col-form-label">Количество</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="Quantity" id="Quantity">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Category" class="col-sm-5 col-form-label">Категория</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="Category" id="Category">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Location" class="col-sm-5 col-form-label">Адрес хранения</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="Location" id="Location">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Comment" class="col-sm-5 col-form-label">Комментарий</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="Comment" id="Comment">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Photo" class="col-sm-5 col-form-label">Фото</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="Photo" id="Photo">
                    </div>
                </div>

            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn--gray" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn--green">Добавить</button>
            </div>
        </div>
    </div>
</div>

