.card {
    border-radius: $border-radius-base;

    &--dark {
        background-color: $main-color;

        .card-header {
            border-color: $gray-color;
            color: $white-color;
            font-size: 18px;
        }
    }
}